<header id="header" style="background: black;">
        <div class="container">

            <div id="logo" style=>
                <img src="/img/logo.png" id="headerLogo" alt="" title="" height="50px" />
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">

                    <li><a href="/Playbook">Playbook</a></li>
                    <li><a asp-controller="Home" asp-action="Index" asp-fragment="services">Services</a></li>
                    
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header>