<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151946230-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151946230-1');
</script>

<style>
    a.anchor { color: #9FC7E3; }
</style>

<header id="header" style="background: black;">
        <div class="container">

            <div id="logo" style=>
                <img src="/img/logo.png" id="headerLogo" alt="" title="" height="50px" />
            </div>



            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li style="margin-top: 5px"><a asp-controller="Home" asp-action="Index" asp-fragment="services" class="anchor">Services</a></li>
                    <li style="margin-top: 5px"><a href="/playbook" class="anchor">Playbook</a></li>
                    <li style="margin-top: 5px"><a href="/team" class="anchor">Team</a></li>
                    <li style="margin-top: 5px"><a href="/investing" class="anchor">Investing</a></li>
                    <li><a href="https://github.com/polar-cloud?tab=repositories" target="_blank"><img src="/img/GitHub.png"></a></li>
                    
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header>