option_settings:
    aws:elasticbeanstalk:cloudwatch:logs:
        StreamLogs: true
    aws:elasticbeanstalk:environment:
        ServiceRole: 
    aws:autoscaling:asg:
        MaxSize: 1
    aws:elb:listener:443:
        ListenerProtocol: HTTPS
        SSLCertificateId: arn:aws:acm:us-west-1:176275134597:certificate/6f6659ae-0fda-462e-a8e8-0b43ae64b72d
        InstancePort: 80
        InstanceProtocol: HTTP
    aws:elb:listener:80:
        ListenerProtocol: HTTP
        InstancePort: 80
        InstanceProtocol: HTTP 