option_settings:
    aws:elasticbeanstalk:cloudwatch:logs:
        StreamLogs: true
    aws:elasticbeanstalk:environment:
        ServiceRole: 
    aws:autoscaling:asg:
        MaxSize: 1
    aws:elb:listener:443:
        ListenerProtocol: HTTPS
        SSLCertificateId: arn:aws:acm:us-west-1:520384133655:certificate/59035e80-f88c-4a62-a1dc-c4390e696dd8
        InstancePort: 80
        InstanceProtocol: HTTP
    aws:elb:listener:80:
        ListenerProtocol: HTTP
        InstancePort: 80
        InstanceProtocol: HTTP
