@{
    ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="wwwroot/img/logo.png" rel="icon">
    <link href="wwwroot/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        ion-icon {
            color: red;
        }
    </style>
</head>

<body style="background: black; margin-top: 120px;">

    <!--==========================
      Header
    ============================-->
    <partial name="_Nav" />
    <!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <main id="main">
        <div style="max-width: 1024; align-content: center;">
            
            <img src="img/landing-small.png" alt="" style="width: 100%; max-width: 1200x;">
                
        </div>

        <!--==========================
          Featured Services Section
        ============================-->
        <section id="featured-services" styles="background: black; ">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">
                        <i><image src="img/icons/dollar.png"></image></i>
                        <h4 class="title">Transforming Businesses</h4>
                        <p class="description">Our journey includes developing 100MM initiatives.</p>
                    </div>

                    <div class="col-lg-4 box box-bg">
                        <i><img src="img/icons/communication.png"></i>
                        <h4 class="title">Customer Obsession</h4>
                        <p class="description">We work backwards from our customers.</p>
                    </div>

                    <div class="col-lg-4 box">
                        <i><img src="img/icons/heart.png"></i>
                        <h4 class="title">We donate</h4>
                        <p class="description">5% of our revenue.</p>
                    </div>

                </div>
            </div>
        </section><!-- #featured-services -->
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <p>
                        We are a consulting firm providing a number of in-house service offerings.
                        polarCloud focuses on technology solutions and management consulting.
                        We operate transparently, which is why we publish our <a href="/Playbook">playbook</a>.
                        <br />
                        <br />
                        We also use our playbook to run our services.
                        Please contact us if you would like to learn more.
                    </p>
                </header>


                <div class="row">
                    <div class="col-md-16 wow fadeInUp container-fluid">
                        <div class="container-fluid">

                            <header class="section-header-noline" style="padding-top: 10px">
                                <h3 style="padding: 0px">Contact Us</h3>
                            </header>

                            <div class="row">

                                <!-- contactCard -->
                                <div id="about-col" class="about-col col-sm-6">
                                    <div class="col-12" style="padding:30px">
                                        
                                        <div class="row" style=" left:-44px">
                                            <div class="col" style="position:relative;">
                                                <div class="row" style="align-content:left;">
                                                    
                                                    <div class="col"><h2 style="color: #800080; font-size: 25px; height:10px;">Email:</h2></div>
                                                    <div class="col-12 pull-right" style="height: 40px" white-space: nowrap;><a href="mailto:partners@polarcloud.consulting" style="color: #800080; font-size:" class="us">partners@polarcloud.consulting</a></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col"><h2 style="color: #800080; font-size: 25px; height:10px">Phone: </h2></div>
                                                    <div class="col-12 pull-right" style="height: 40px; margin-right:30px"><a href="tel:+19499109517" style="color: #800080; font-size: 16px; white-space:nowrap" class="us">1 + 949 910 9517</a></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col" style="height: 40px; margin-top: -5px"><h2 style="color:#800080; font-size: 25px; height:10px">Geo:</h2></div>
                                                    <div class="col-12 pull-right" style="margin-top: -10px"><font style="color:#800080; font-size: 16px;" class="us">Irvine, CA</font></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col d-none d-sm-block" style="margin-left:15%; margin-top: 15px">
                                                        <a href="https://goo.gl/maps/yREbXGgLVsdNDtQx6"><img class="" src="/img/map.png" height="300" width="300" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- form  -->
                                <div class="col-sm-6">

                                    <div class="form">

                                        <div id="errormessage"></div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" name="name" class="form-control" id="firstName" placeholder="First name" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" name="name" class="form-control" id="lastName" placeholder="Last Name" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="phone" placeholder="Phone" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="website" placeholder="Website" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="company" placeholder="Company" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-row" style="margin-left:25px" id="mailing">
                                            <input type="checkbox" class="form-check-input" id="mailist"><p style="margin-left: 5px"><font style="color: black; font-szie: 12px">Enroll in our mailing list (we will never share your info)</font></p>
                                        </div>
                                        <div class="col text-center">
                                            <button class="btn btn-dark" id="contactUs" align="center">Send Message</button>
                                        </div>
                                        <div id="thankYou" class="col text-center" style="display: none"><font style="color: #800080"><strong>Thank You! We will get back to you shortly.</strong></font></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
        </section>
        <!-- #about -->
        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp">
                    <h3>Services</h3>
                    <p>
                        We have a variety of business and technology offerings. Check them out.
                    </p>
                </header>

                <div class="row">

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-analytics-outline custom-icon"></i></div>
                        <h4 class="title" style="color: #800080">Solutions Architecture</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We specialize in product engineering, designing and implementing solutions in the cloud.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title" style="color: #800080">Management Consulting</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We'll help you develop operational insights, make decisions, and improve performance.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                        <h4 class="title" style="color: #800080">Investor Due Diligence</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We build data rooms so investors and other parties can explore the business in detail.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                        <h4 class="title" style="color: #800080">Diagramming</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We produce diagrams that visually communicate your process and systems.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        <h4 class="title" style="color: #800080">Dev Ops</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We guide you through developing dev ops best practices so you can meter, monitor, analyze, and improve the quality of your systems.</strong>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-people-outline"></i></div>
                        <h4 class="title" style="color: #800080">Audits</h4>
                        <p class="description" style="color: #A7BFDA;">
                            <strong>We offer deep dives into operational controls, system security, data integrity, and the safeguard of assets.</strong>
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
        <!--==========================
          Call To Action Section
        ============================-->
        <!-- <section id="call-to-action" class="wow fadeIn">
                <div class="container text-center">
                    <h3>Call To Action</h3>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <a class="cta-btn" href="#">Call To Action</a>
                </div>
            </section>-->
        <!-- #call-to-action -->
        <!--==========================
          Skills Section
        ============================-->
        <!-- <section id="skills"> -->
                <!-- <div class="container">

                    <header class="section-header">
                        <h3>Our Skills</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </header>

                    <div class="skills-content">

                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="50">
                                <span class="skill">HTML <i class="val">50%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100">
                                <span class="skill">CSS <i class="val">90%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100">
                                <span class="skill">JavaScript <i class="val">75%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100">
                                <span class="skill">Photoshop <i class="val">55%</i></span>
                            </div>
                        </div>

                    </div>

                </div>
            </section> -->

        <!--==========================
          Facts Section
        ============================-->
        <!-- <section id="facts" class="wow fadeIn"> -->
                <!-- <div class="container">

                    <header class="section-header">
                        <h3>Facts</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                    </header>

                    <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">274</span>
                            <p>Clients</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">421</span>
                            <p>Projects</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">1,364</span>
                            <p>Hours Of Support</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">18</span>
                            <p>Hard Workers</p>
                        </div>

                    </div>

                    <div class="facts-img">
                        <img src="img/facts-img.png" alt="" class="img-fluid">
                    </div>

                </div>
            </section> -->
        <!-- #facts -->
        <!--==========================
          Portfolio Section
        ============================-->
        <!-- <section id="portfolio" class="section-bg"> -->
                <!-- <div class="container">

                    <header class="section-header">
                        <h3 class="section-title">Our Portfolio</h3>
                    </header>

                    <div class="row">
                        <div class="col-lg-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">App</li>
                                <li data-filter=".filter-card">Card</li>
                                <li data-filter=".filter-web">Web</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">App 1</a></h4>
                                    <p>App</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Web 3</a></h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">App 2</a></h4>
                                    <p>App</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Card 2</a></h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Web 2</a></h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">App 3</a></h4>
                                    <p>App</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Card 1</a></h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Card 3</a></h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                                    <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1"
                                       title="Preview"><i class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">Web 1</a></h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section> -->
        <!-- #portfolio -->
        <!--==========================
          Clients Section
        ============================-->
        <!-- <section id="clients" class="wow fadeInUp"> -->
                <!-- <div class="container">

                    <header class="section-header">
                        <h3>Our Clients</h3>
                    </header>

                    <div class="owl-carousel clients-carousel">
                        <img src="img/clients/client-1.png" alt="">
                        <img src="img/clients/client-2.png" alt="">
                        <img src="img/clients/client-3.png" alt="">
                        <img src="img/clients/client-4.png" alt="">
                        <img src="img/clients/client-5.png" alt="">
                        <img src="img/clients/client-6.png" alt="">
                        <img src="img/clients/client-7.png" alt="">
                        <img src="img/clients/client-8.png" alt="">
                    </div>

                </div>
            </section> -->
        <!-- #clients -->
        <!--==========================
          Clients Section
        ============================-->
        <!-- <section id="testimonials" class="section-bg wow fadeInUp"> -->
                <!-- <div class="container">

                    <header class="section-header">
                        <h3>Testimonials</h3>
                    </header>

                    <div class="owl-carousel testimonials-carousel">

                        <div class="testimonial-item">
                            <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                                quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                                labore quem eram duis noster aute amet eram fore quis sint minim.
                                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                                labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                    </div>

                </div>
            </section> -->
        <!-- #testimonials -->
        <!--==========================
          Team Section
        ============================-->
        <!-- <section id="team"> -->
                <!-- <div class="container">
                    <div class="section-header wow fadeInUp">
                        <h3>Team</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-6 wow fadeInUp">
                            <div class="member">
                                <img src="img/team-1.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Walter White</h4>
                                        <span>Chief Executive Officer</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="member">
                                <img src="img/team-2.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Sarah Jhonson</h4>
                                        <span>Product Manager</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="member">
                                <img src="img/team-3.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>William Anderson</h4>
                                        <span>CTO</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="member">
                                <img src="img/team-4.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Amanda Jepson</h4>
                                        <span>Accountant</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section> -->
        <!-- #team -->


    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>polarCloud</h3>
                        <p>
                            We've brought highly impactful and scalable solutions to companies like Amazon Web Services (AMZN), Symantec (SYMC), Discover Financial Services (DFS), and LendingTree (TREE). We look forward to bringing those same services to you.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a asp-controller="Home" asp-action="TermsOfService">Terms of Service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Communications</h4>
                            <strong style="padding-right: 30px">HQ :</strong><a href="tel:123-456-7890" style="color: white">Irvine, CA</a><br>
                            <strong style="padding-right: 5px">Phone: </strong><a href="tel:949-910-9517" style="color: #A7BFDA">+1 949 910 9517</a><br>
                            <strong></strong>Email: </strong><a href="mailto: partners@polarcloud.consulting" style="color: white"><font size=2px">partners@polarcloud.consulting</font></a><br>
                        </p>

                        <!-- <div class="social-links">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div> -->

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>
                            We often produce new playbooks along with industry news and opinions, for free. We'd love to let you know when new things are happening.
                        </p>
                        <form action="" method="post">
                            <input type="email" id="subscribeEmail"><input type="submit" id="subscribe" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script src="js/site.js"></script>
    

</body>

</html>