@{
    ViewBag.Title = "Welcome";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="wwwroot/img/logo.png" rel="icon">
    <link href="wwwroot/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <style>
        ion-icon {
            color: red;
        }
    </style>
</head>

<body class="body-main">

    <!--==========================
      Header
    ============================-->
    <partial name="_Nav" />
    <!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <main id="main">
        <div>
            <img src="img/background-black.jpg" alt="IDK popup">   
        </div>

        <!--==========================
          Featured Services Section
        ============================-->
        <section id="featured-services" styles="background: black; ">
            <div class="container">
                <div class="row text-center">

                    <div class="col-lg-4 box ">
                        <i><image src="img/icons/dollar.png"></i>
                        <h4 class="title">Transforming Businesses</h4>
                        <p class="description">Our journey includes developing $100MM initiatives</p>
                    </div>

                    <div class="col-lg-4 box box-bg">
                        <i><img src="img/icons/heart.png"></i>
                        <h4 class="title">Customer Obsession</h4>
                        <p class="description">We start with our customers and work<br> backward</p>
                    </div>

                    <div class="col-lg-4 box">
                        <i><img src="img/icons/communication.png"></i>
                        <h4 class="title">We Work Remotely</h4>
                        <p class="description">We help clients across the US while driving down costs</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- #featured-services -->
        
        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp text-center">
                    <h3>Services</h3>
                    <p class="p">We offer a variety of business and technology services. Check them out.</p>
                </header>

                <div class="row">

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-analytics-outline custom-icon"></i></div>
                        <h4 class="title">Solutions Architecture</h4>
                        <p class="description">
                            <strong>We specialize in engineering products, designing systems, and implementing solutions in the cloud.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title">Management Consulting</h4>
                        <p class="description">
                            <strong>We focus on developing operational insights to drive decision-making and improve performance.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                        <h4 class="title">Investor Due Diligence</h4>
                        <p class="description">
                            <strong>We build data rooms so investors and other parties can explore the business in detail.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                        <h4 class="title">Diagramming</h4>
                        <p class="description">
                            <strong>We produce diagrams that visually communicate your process and systems.</strong>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        <h4 class="title">DevOps</h4>
                        <p class="description">
                            <strong>We guide you through developing DevOps best practices so you can meter, monitor, analyze, and improve the quality of your systems.</strong>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="icon"><i class="ion-ios-people-outline"></i></div>
                        <h4 class="title">Audits</h4>
                        <p class="description">
                            <strong>We offer deep dives into operational controls, system security, data integrity, and the safeguarding of assets.</strong>
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- #services -->
<br><br>
        <!--==========================
          About Us Section
        ============================-->  
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <p class="p">
                        IDK popup is a consulting firm offering a number of in-house services. We focus on technology and management solutions.
                        We operate transparently, which is why we publish our <a href="/Playbook">playbook</a>.
                        <br />
                        <br />
                        We also use our playbook to run our business. Use the form below if you would like to learn more.
                    </p>
                </header>


                <div class="row">
                    <div class="col-md-16 wow fadeInUp container-fluid">
                        <div class="container-fluid">

                            <div class="row">

                                <!-- contactCard -->
                                <div id="about-col" class="about-col col-sm-6">
                                    <div class="col-12" style="padding:30px">
                                        <div class="row" style="left:-44px">
                                            <div class="col" >
                                                <div class="row" >
                                                    
                                                    <div class="col"><h2 >Email:</h2></div>
                                                    <div class="col-12 pull-right email" white-space: nowrap;><a href="mailto:partners@idkpopup.com" class="us, link">partners@idkpopup.com</a></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col"><h2>Phone: </h2></div>
                                                    <div class="col-12 pull-right phone"><a href="tel:+19496271341" class="us link">1 + 949 627 1341</a></div>
                                                </div>

                                                <div class="row">
                                                    <div class="col geoh2"><h2 >Geo:</h2></div>
                                                    <div class="col-12 pull-right geo">Irvine, CA</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col d-none d-sm-block map">
                                                        <a href="https://goo.gl/maps/yREbXGgLVsdNDtQx6"><img class="" src="/img/map.png" height="300" width="300" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- form  -->
                                <div class="col-sm-6">

                                    <div class="form" id="form">

                                        <div id="errormessage"></div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" name="name" class="form-control" id="firstName" placeholder="First name" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" name="name" class="form-control" id="lastName" placeholder="Last Name" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="phone" placeholder="Phone" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="website" placeholder="Website" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input class="form-control" name="email" id="company" placeholder="Company" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-row mailing" id="mailing">
                                            <input type="checkbox" class="form-check-input" id="mailist"><p class="enroll">Enroll in our mailing list. Be assured we will never share your info.</p>
                                        </div>
                                        <div class="col text-center">
                                            <button class="btn btn-dark" id="contactUs">Send Message</button>
                                        </div>
                                        <div id="thankYou" class="col text-center thankYou" style="display: none"><strong>Thank You! We will get back to you shortly.</strong></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
        </section>
        <!-- #about -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>IDK popup</h3>
                        <p>
                            We've brought highly impactful and scalable solutions to companies like Amazon Web Services (AMZN), Symantec (SYMC), Discover Financial Services (DFS), and LendingTree (TREE). We look forward to bringing you those same services.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a asp-controller="Home" asp-action="TermsOfService">Terms of Service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Communications</h4>
                            <a href="mailto: partners@idkpopup.com" style="color: white"><font size=2px">partners@idkpopup.com</font></a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>
                            We often produce new playbook along with industry news and opinions for free. We'd love to let you know when new things are happening.
                        </p>
                        
                        <form action="" method="post">
                            <input type="email" id="subscribeEmail"><input type="submit" id="subscribe" value="Subscribe" class="subscribe">
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

    </footer><!-- #footer -->

    
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script src="js/site.js"></script>
    

</body>

</html>