@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
    <head>

        <meta charset="utf-8">
        <title>polarCloud Consulting</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body style="background: black;">
        <header id="header" style="background: black; margin-bottom: 20px">
            <div class="container">

                <div id="logo">
                    <a href="/Home"><img src="/img/logo.png" id="headerLogo2" alt="" title="" height="50px" /></a>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li><a href="/playbook">Playbook</a></li>
                        <li><a href="/Index#services">Services</a></li>
                        
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </header><!-- #header -->

        <div style="height:100px"></div>

        <div>
            <center><strong><font color="#800080">Privacy Notice</font></strong></center>
            <p>This privacy notice discloses the privacy practices for <span style="text-decoration: underline;">(polarCloud)</span>. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
            <ol type="1">
                <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
                <li>What choices are available to you regarding the use of your data.</li>
                <li>The security procedures in place to protect the misuse of your information.</li>
                <li>How you can correct any inaccuracies in the information.</li>
            </ol>
            <p><strong><font color="#800080">Information Collection, Use, and Sharing</font></strong> <br>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
            <p>Unless you ask us not to, and you have agreed to receive information from us, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
            <p><strong><font color="#800080">Your Access to and Control Over Information</font></strong> <br>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
            <ul>
                <li>See what data we have about you, if any.</li>
                <li>Change/correct any data we have about you.</li>
                <li>Have us delete any data we have about you.</li>
                <li>Express any concern you have about our use of your data.</li>
            </ul>
            <p><strong><font color="#800080">Security</font></strong> <br>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
            <p>Whenever we collect data from you, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The servers on which we store personally identifiable information are kept in a secure environment.</p>
            <p><strong>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at <span style="text-decoration: underline;">949-910-9517</span> or <span style="text-decoration: underline;">via email</span> partners@polarcloud.consulting.</strong></p>
        </div>

        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <!-- Template Main Javascript File -->
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>
    </body>
</html>