@{
    ViewBag.Title = "Building and Running Teams";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

        <style>
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }

          
        </style>

    </head>

    <body class="master">
        <div style="margin-top: 120px">
            
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Building</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">and</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Running</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Teams</h4>
                    </div>
                </div>
            </div>

            <p>Building teams has a signature trajectory. It starts out with a few people who find other people to join a team. As the team grows and more disciplines are added, more teams crop up, all needing to report to the founders. The founders can only handle so many distractions, so it doesn't take long before executives, directors, and managers are needed. And since new capital is likely for growth, investors and advisors become influencers of the organization. For many companies, this model may include entirely remote partners and staff.</p>

            <p>Here we focus on leadership principles and the day to day operations of many successful teams. Conway's law states that organizations design systems that mirror their own communication structure. To develop a clear and transparent solution is to communicate clearly and transparently as a team. While another one of our other playbooks is set on hiring employees, hiring is the first touchpoint in establishing a working relationship with the team. Though the school of communication is vast, a fundamental principle to healthy communication is trust. Teams should earn and build trust through empowerment, servant leadership, and mentorship. Good leadership is about seeing a path toward the vision and communicating that path. This includes earning trust across teams and throughout the organaziation, which leads to building a professional network. It also includes weaving mentorship into the fabric of the organization as a way to open new paths.</p>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <p class="quote" id="quote1">"Conway's law states that organizations design systems that mirror their own communication structure."</p>
                    </div>
                </div>
            </div>

            <p>At the lower level, there are operational models used, like Scrum. Scrum is a way for teams to communicate clearly, transparently, and identify problems that could jeopardize an initiative. With Scrum, teams monitor their tasks daily, weekly, and monthly. A structured meeting called a standup is held frequently, as much as daily, to discuss accomplishments, active tasks, expectation of task completion, along with setbacks and potential issues impeding product development. This development process is used to ensure products and features are completed and delivered on a predictable timetable.</p>

            <p>With scrums, development and release cycles have a fixed duration called sprints. The duration of a sprint can last a week, two weeks, or more. A sprint consists of tasks. A grouping of tasks is called a story. A grouping of stories is called an epic and represents a major piece of work. Any product or business initiative can consist of multiple epics. The goal of scrum is to complete epics. While scrum was created to help software developers, it has evolved to be used across disciplines and throughout the organization. </p>

            <p>Tasks are predictable units of work. They are relatively small and their size is determined with feedback from the team. Tasks can be sized by estimating the number of hours, days, or weeks it should take to complete the task or by using relative sizing. Relative sizing compares a given task to all the other tasks in the sprint. In relative sizing, either a Fibonacci sequence or other sizing method is used. A Fibonacci sequence involves scoring a task as a 1, 2, 3, 5, 8, 13 or 21 (the first 7 numbers of the Fibonacci sequence). Here, a task with a score of 1 can be completed inside of a day whereas a 21 can not be finished in a sprint and should be broken down into smaller tasks. If a custom method is prefered, then small, medium, large, extra-large is typically used to size tasks relative to the others in the sprint. A story, being a collection of tasks, may or may not fit into a single sprint, where epics often span multiple sprints. It's important to ensure the collection of tasks can fit easily into a sprint with time to spare as not to fall victim to the planning fallacy.</p>

            <p>As team members add tasks to the current sprint or to the backlog of tasks that are not assigned to a sprint, the member can include a sizing estimate, but the sizing is primarily determined by the team. During each scrum, it is useful to discuss any new tasks and agree on the sizing of the tasks. A burn rate can talk to the speed of the sprint and whether or not a task can fit into the current sprint, if it can go on-deck, or if it should be in the backlog of tasks. </p>

            <p>Stories add a narrative to the grouping of tasks. The narrative is written from the perspective of the customer. A customer can be external to the company, or represent staff inside of the company, for example rolling out a training program to an internal division. In one sentence, the narrative should identify the customer, explain the customer's specific need and express what the customer is trying to accomplish. For this reason, stories can be used interchangeably with features. A well-written story will include preconditions, like dependency on another story's completion, and an explanation of how success will be measured.</p>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <p class="quote" id="quote2">"The narrative is written from the perspective of the customer."</p>
                    </div>
                </div>
            </div>

            <p>An effective way to run a scrum meeting is by having a facilitator, called the scrum master. During the meeting, the scrum master goes around the team having each team member give status on their tasks. This can be accompanied by a list of tasks the facilitator walks through while updating the tasks in real-time. In the case of a conversation getting off-topic, anyone on the team can use a stop-word, like "popcorn", to direct attention back to the important topics and park the current discuss for followup after the meeting. It's important not to cast blame on team members for deficiencies, but rather see the status for what it is, a problem to solve collectively.</p>

            <p>Remote teams are best served by a central task and document repository and online video or audio conferencing software. There are hundreds of option in the marketplace for sprint management software. While many communications platforms also exist, we recommend either Slack or Microsoft Teams for collabortation with video, text and file.

            <p>One tool that can be used to visualize the health of a sprint is called a Kanban board. A Kanban board can be virtual or a physical board using a wall or a whiteboard. It is a recommended project management tool for visualizing the progression of tasks. Start by divding the surface into columns to represent steps in the development process. To represent a task, place a sticky note, including the task's name and estimated size onto the surface appropriate column. The last column on the wall is best as "Done." The definition of done will vary from team to team, but agree with the team on a definition early on in the this process.</p>

            <p>Epics paint a bigger picture of product development. If a product required setting up a multi-channel marketing campaign, completing the logistics of manufacturing a product, or shipping a major software feature, they would fall into an epic.  Epics can be easily communicated across teams and rolled up into an initiate name, like "project blue light". Epics give release projections based on the sizes of the tasks and stories as well as how close to completion of the initiative. Epics often serve as the starting point for new team members or merging teams.</p>

            <p>Modeling a development process like this has additional benefits to building strong communication. By design, it keeps teams accountable for each other and builds trust through teams solving problems collaboratively. Progress elicits feedback from the team as well as influencers and customers which is then fed back into the process.</p>

            <p>Upon the completion of a sprint, it can be helpful for the team to conduct a retrospective by exploring demos, discussing feedback, recalling internal conversations, and expressing thoughts on how to improve future sprints. It serves as a time to discuss relative sprint performance, upcoming schedules, and any changes to the roadmap.</p>

            <p>Since this model empowers team members to work with outside influencers and resources directly, it can dissolve the need for a full-time manager in some companies. At a minimum, it frees the manager to focus on monitoring the sprint, clearing current or upcoming obstacles, hiring the right people, selecting the best vendors, and communicating decisions throughout the organization.</p>            

            <p>If this is all too heavy, there is always the traditional calendar, TODO list, and email.</p>

            </div>

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
            
            <script src="/lib/jquery/jquery.min.js"></script>
            <script src="/lib/jquery/jquery-migrate.min.js"></script>
            <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/lib/easing/easing.min.js"></script>
            <script src="/lib/superfish/hoverIntent.js"></script>
            <script src="/lib/superfish/superfish.min.js"></script>
            <script src="/lib/wow/wow.min.js"></script>
            <script src="/lib/waypoints/waypoints.min.js"></script>
            <script src="/lib/counterup/counterup.min.js"></script>
            <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="/lib/isotope/isotope.pkgd.min.js"></script>
            <script src="/lib/lightbox/js/lightbox.min.js"></script>
             <script src="https://rawgit.com/maciej-gurban/responsive-bootstrap-toolkit/master/dist/bootstrap-toolkit.min.js"></script>
                    
            <script src="/js/main.js"></script>
            <script src="/js/site.js"></script>

            <script>
            document.getElementById('headerLogo').addEventListener("click", function() {
                window.location.href = "/";
            });
                

                // Wrap IIFE around your code
(function($, viewport){
    $(document).ready(function() {

        // Executes only in XS breakpoint
        if(viewport.is('xs')) {
            document.getElementById('quote1').style.fontSize = "13px";
            document.getElementById('quote2').style.fontSize = "13px";
        }

        // Executes in SM, MD and LG breakpoints
        if(viewport.is('>=sm')) {
            // ...
        }

        // Executes in XS and SM breakpoints
        if(viewport.is('<md')) {
            // ...
        }

        // Execute code each time window size changes
        $(window).resize(
            viewport.changed(function() {
                if(viewport.is('xs')) {
                    // ...
                }
            })
        );
    });
})(jQuery, ResponsiveBootstrapToolkit);
        </script>
    </body>
</html>



