@{
    ViewBag.Title = "Omni-Channel Marketing";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

        <style>
  
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .h3 {
                font-size: 40px;
                color: #800080;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }
            
            </style>

    </head>

    <body class="master">
        <div style="margin-top: 120px">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Consider</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Your</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Marketing</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Opportunities</h4>
                    </div>
                </div>
            </div>

            <h3 class="h3">Branding</h3>
            <p>Branding is an art. A brand communicates the company's promise to its customers and visually sets the company apart from its competitors. It can speak to both general and target markets. 
                A brand is a theme, displayed through logos, names, packaging and marketing material. 
                Brands attract and retain customers. And a working brand will mature as the company grows.</p>
            
            <h3 class="h3">Advertising</h3>
            <p>Advertising is vital to the success of most companies. It is the only way to acquire customers at scale. Advertising mixes branding with promotions over marketing channels. Below is a common list of marketing channels that companies invest in.</p>
            <br>
            
            <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('consumerDirect');">Consumer direct marketing channels</div></h3></li></ul>
            <div id="consumerDirect" style="display: none">
                <ul>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Direct mail
                            </div>
                            <div class="col">
                                <li><p>Email
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Mass email
                            </div>
                            <div class="col">
                                <li><p>Mobile push notifications
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Web push notifications
                            </div>
                            <div class="col">
                                <li><p>Mobile/web chatbot
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>SMS
                            </div>
                            <div class="col">
                                <li><p>Voice
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Fax
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </ul>
            </div>
            <br>
            <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('audience');">Audience based communication channels</div></h3></li></ul>
            <div id="audience" style="display: none">
                <ul>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Affiliates
                            </div>
                            <div class="col">
                                <li><p>Mobile ads            
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Website ads
                            </div>
                            <div class="col">
                                <li><p>Internet video ads
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Internet animated ads
                            </div>
                            <div class="col">
                               <li><p>Paid subscription service ads 
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Television ads
                            </div>
                            <div class="col">
                                <li><p>Radio ads
                            </div>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>Podcasts
                            </div>
                            <div class="col">
                                <li><p>Social Media
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Influencers
                            </div>
                            <div class="col">
                                <li><p>Sponsorships            
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Search engine optimization
                            </div>
                            <div class="col">
                                <li><p>Word of mouth marketing            
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Print media
                            </div>
                            <div class="col">
                                <li><p>Print ads            
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Press releases           
                            </div>
                        </div>
                    </div>
                    
                </ul>
            </div>
            <br>
            <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('mobilePush');">Reasons for mobile push notifications</div></h3></li></ul>
            <div id="mobilePush" style="display: none">
                <ul>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Market discounts
                            </div>
                            <div class="col">
                                <li><p>Alerts on new product or features
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                               <li><p>2-factor authentication
                            </div>
                            <div class="col">
                                <li><p>In-app notifications
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Reminders
                            </div>
                            <div class="col">
                                <li><p>Chatbot            
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <li><p>Recurring marketing campaigns
                            </div>
                            <div class="col">
                                <li><p>Geo-marketing campaigns                 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
                
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

        <script>
            function toggle(source) {
                $("#" + source).slideToggle("slow");
            }
        </script>

        <script>
            document.getElementById('headerLogo').addEventListener("click", function() {
                window.location.href = "/";
            })
        </script>
    </body>
</html>
