@{
    ViewBag.Title = "Product Description";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

        <style>
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }
        </style>

    </head>

    <body class="master">
        <div style="margin-top: 120px">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Writting</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">a</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Product</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Description</h4>
                    </div>
                </div>
            </div>
            
            <div style="margin-top: 50px">
                <p>Write a succinct one-paragraph overview of how the product can be used by the customer. It should describe the product and what can be done with the product. Refrain from including economics, technical details, release timelines, and product roadmaps.

            <h4><strong><font color="#800080">FAQ</font></strong></p></h3>
            <p>A good overview should prompt a number of questions. Allowing the audience to review the top questions expected to be asked deters from lengthy discussions on each question. Well written answers will include answers to potential follow-up questions. Putting an FAQ directly after the overview is a fast way to bring the audience up to speed before diving into the product details.

            <ul>
                <h4><strong><font color="#800080">What is the product?</strong></font></h4>
                <p>Expand on the overview. Explain the various ways the product can be used by the customer. Answer the question as if the customer was asking it. Include a simple pricing model.
            </ul>

            <ul>
                <h4><strong><font color="#800080">Who should use the product?</strong></font></h4>
                <p>Describe customer demographics. Expand on why a customer would want to use the product. Use a customer persona to walk the reader through the user experience. Explain how using the product benefits the customer.
            </ul>

            <ul>
                <h4><strong><font color="#800080">How do you get started with the product?</strong></font></h4>
                <p>Walkthrough the steps a customer takes when getting started using the product. Describe how long the product experience lasts. Explain how the customer interacts with the product and what, if any, security measures are put in place. Detail what the customer is seeing in these first steps. Included in a limited amount, screenshots can be an effective way of communicating a customer experience.
            </ul>

            <ul>
                <h4><strong><font color="#800080">How is the product supported?</strong></font></h4>
                <p>Explain how the customer is guided using the product. What can a customer do if they have an issue using the product?
            </ul>

            <ul>
                <h4><strong><font color="#800080">Why will the product be successful?</strong></font></h4>
                <p>Describe what a successful product looks like. List the top 3 competitors in the marketplace and the differentiators of the product. Detail market advantages for the product. Describe the expected size of the market. Explain how revenue will exceed the costs of development and operations. Predict the lifetime value of a typical customer. Describe how customers will be retained.
            </ul>

            <ul>
                <h4><strong><font color="#800080">How will success be measured</strong></font></h4>
                <p>Determine the KPIs that will drive insights into customer adoption and retention. Explain the economic indicators of success. Detail the expected timeline for evaluating success. 
            </ul>

            <ul>
                <h4><strong><font color="#800080">When will the product evolve?</strong></font></h4>
                <p>Illustrate the future of the product scope and features. Are dates slated for future iterations? Will there be changes in pricing structure as the product grows? Explain how expansion affects customer demographics.
            </ul>

            <h4><strong><font color="#800080">Walk through</font></strong></h4>
            <p>A walkthrough is a collection of primary use cases for customer success. A use case reveals the requirements of the product from the customer's point of view. Use this section to detail the various interactions the customer has with the product as an addendum to each use case. Repeat the steps related to getting started from the FAQ. A use case should be no more than 2 sentences, begin with the customer's function, explain what the customer is trying to accomplish and why the customer wants to accomplish the task.
            eg. As a marketer, I want to breakdown the demographics of an active client list so that I can send them promotional marketing material.
            The website enables the user to craft a simple query that can be executed against the user's pre-loaded data set.
            When the query executes, an output of the target customer list containing address data can be downloaded for use in a downstream marketing platform.

            <h4><strong><font color="#800080">Function Requirements</font></strong></h4>
            <p>Functional requirements are largely revealed in the walkthrough. Here, prioritize a list of minimum requirements of the system. The list should be grouped by the functional areas of the product. Functional areas of the product include product interactions, APIs, integrations, control plane, data plane, physical forms, customizations, analytics, product support, billing, and internal product use control features analytics.

            <h4><strong><font color="#800080">Customer Feedback</font></strong></h4>
            <p>Explain how customer feedback was acquired. List top customers and the feedback collected from any interviews and demos. Expand on each customer's pain points.

            <h4><p><strong><font color="#800080">Marketing</font></strong></h4>
            <p>Write a product release document. Describe who the product will help and why it will help them. Illustrate each of the problems the customer is trying to solve. Explain the pain points the customer wants to alleviate. How does the product ensure the problem is being solved? Describe the product's output to the customer. Explain how the customer can gain access to the product and include timing and geographic availability. Explain the cost to the customer. Explain the marketing channels that will be used to acquire customers. Again calculate the cost to acquire a customer. How and when will the marketing campaigns roll-out? Are there opportunities for off-season vs on-season marketing campaigns?

        </div>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
                
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

        <script>
            document.getElementById('headerLogo').addEventListener("click", function() {
                window.location.href = "/";
            })
        </script>
    </div>
</body> 