@{
    ViewBag.Title = "Standard Questionnaire";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

        <style>
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .h3 {
                font-size: 40px;
                color: #800080;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }

        </style>
    </head>

    <body class="master">
        <div style="margin-top: 120px">
            
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Our</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Pleased to</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Meet You</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Questionnaire</h4>
                    </div>
                </div>
            </div>           

            <h3 class="h3"><p style="margin-top: 40px;"><strong>Some of our clients prefer filling out a prepared questionnaire before getting started with us. It serves well to reduce the onboarding process.</strong></p></h3>
        

            <div style="margin-top: 50px">
                <ul>
                    <li><p>Describe the the industry, size, and customer base.
                    <li><p>List office sites.
                    <li><p>Describe the technology stack underlying the company's offerings.
                    <li><p>Where is the company's platform hosted?
                    <li><p>List of strategic partnerships.
                    <li><p>List of commonly used software platforms (i.e. Office, Slack, AWS)
                    <li><p>Logical diagram of the company's technology platform, identifying major components which are either internally developed or externally sourced.
                    <li><p>Describe the interactions you make with your customers from their perspective. Provide slide show including screenshots of working demo of mobile apps, websites, customer correspondence (email, in-app notification, SMS, phone) and other digital assets.
                    <li><p>Who is responsible for the tech stack? Provide name, background and org chart.
                    <li><p>List and describe the current roles on the technology org chart including title, a summary of responsibilities, security clearance, and salary. Include contractors and service providers.
                    <li><p>List government and corporate regulatory exposures (SOX, HIPPA, etc).
                    <li><p>List social media links and governance.
                    <li><p>List customer-supplied data retention policies including logging.
                    <li><p>Copy of last comprehensive security review.
                    <li><p>Provide architectural diagrams of assets hosted on the cloud service provider:
                        <ol><p>List services used.</ol>
                        <ol><p>Provide any data flow diagrams.</ol>
                        <ol><p>Provide any network topology.</ol>
                        <ol><p>Provide any database diagrams.</ol>
                        <ol><p>Describe any security topology.</ol>
                    <li><p>Conduct Failure Mode Analysis.
                    <li><p>Describe operational monitoring, alerting and reporting.
                    <li><p>Provide a diagram of technology deployments. 
                    <li><p>Provide the current product build queue/development road map for the platform and UX (mobile and web) with the timeline.
                    <li><p>Provide a data flow narrative.
                    <li><p>Describe the technology recruitment process.
                    <li><p>How much does it cost to run for a month?
                    <li><p>How are technology projects funded?
                    <li><p>Last and current year's technology budget.
                </ul>
            </div>
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

        <script>
            document.getElementById('headerLogo').addEventListener("click", function() {
                window.location.href = "/";
            })
        </script>
    </body> 