@{
    ViewBag.Title = "Technical Due Diligence";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="/img/logo.png" rel="icon">
        <link href="/img/logo.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
            rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="/css/style.css" rel="stylesheet">

         <style>
            .master {
                margin-bottom: 20px;
                background: #222222;
            }

            .h4 {
                font-size: 36px;
                font-size: 5.4vw;
                font-family: roboto;
            }

            .h3 {
                font-size: 40px;
                color: #800080;
            }

            .quote {
                font-size: 50px;
                color: #800080;
                font-weight: bold;
            }

            p {
                font-family: open-sans, Sans-serif, monospace;
                font-size: 1em;
                letter-spacing: 2px

            }

        </style>

    </head>

    <body class="master">
        <div style="margin-top: 120px">
            <div class="row">
                    <div class="col">
                        <h4 class="h4">Performing</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">a</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4">Technology</h4>
                    </div>
                    <div class="col">
                        <h4 class="h4 float-right">Due Diligence</h4>
                    </div>
                </div>
            </div>

            <div style="margin-top: 50px">
                <strong>Performing a technical due diligence can be a daunting process, but an important one for investor due diligence, seller-side mergers and acquisitions, and as a way to communicate clearly across the organization. This checklist can help you navigate the process, and polarCloud can help with any of it. If you use the form, we will save your progress for the next time you come back. Or if you would prefer, feel free to copy and use this template to help your organization.</strong>
            </div>
    
            <div style="margin-top: 50px">
                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('preparation');">Preparation</div></h3></li></ul>
                <div id="preparation" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="establishProtocol"/> Establish a protocol for staff to gain access to information
                        <p><input type="checkbox" class="checkbox" id="hostDataRoom"/> Host a secure data room in the customer's local or cloud file system
                        <p><input type="checkbox" class="checkbox" id="toc"/> Commit a Table of Contents to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('contact');">Contact</div></h3></li></ul>
                <div id="contact" style="display: none; padding: 0 ">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="discovery"/> Conduct an initial discovery meeting
                        <p><input type="checkbox" class="checkbox" id="com1"/> Commit minutes to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('overview');">Overview</div></h3></li></ul>
                <div id="overview" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="orgChart"/> Create or update the Org Chart
                        <p><input type="checkbox" class="checkbox" id="infrastructure"/> Describe IT infrastructure
                        <p><input type="checkbox" class="checkbox" id="applicationLayer"/> Describe the application layer
                        <p><input type="checkbox" class="checkbox" id="productInfo"/> Produce information flow narrative
                        <p><input type="checkbox" class="checkbox" id="projectInitiatives"/> Evaluate major project initiatives
                        <p><input type="checkbox" class="checkbox" id="pm"/> Produce IT Project Management Platform & Processing deck
                        <p><input type="checkbox" class="checkbox" id="punchList"/> Categorize and implement Punch List items
                        <p><input type="checkbox" class="checkbox" id="com2"/> Commit artifacts to the data room.
                    </ul>
                </div>
                
                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('interviews');">Interviews</div></h3></li></ul>
                <div id="interviews" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="interviews"/> Conduct employee interviews
                        <p><input type="checkbox" class="checkbox" id="reviewInterviews"/> Review findings and repeat info gathering
                        <p><input type="checkbox" class="checkbox" id="interviewStatus"/> Status Update
                        <p><input type="checkbox" class="checkbox" id="com3"/> Commit reviews and status update to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('organization');">Organization and Operations</div></h3></li></ul>
                <div id="organization" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="pnp"/> Review policies and procedures
                        <p><input type="checkbox" class="checkbox" id="organddev"/> Present Platform Org & Development PPT
                        <p><input type="checkbox" class="checkbox" id="com4"/> Gather feedback and commit to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('sdlc');">Software Development Lifecycle</div></h3></li></ul>
                <div id="sdlc" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="tasks"/> Review items in technology project tracking software
                        <p><input type="checkbox" class="checkbox" id="engineeringTasks"/> Review items in the engineering ticketing system
                        <p><input type="checkbox" class="checkbox" id="changeManagement"/> Document Change Management process
                        <p><input type="checkbox" class="checkbox" id="qaLifecycle"/> Evaluate the Quality Assurance process
                        <p><input type="checkbox" class="checkbox" id="deploymentProcess"/> Document production deployment process
                        <p><input type="checkbox" class="checkbox" id="releaseNotes"/> Obtain release notes from prior months
                        <p><input type="checkbox" class="checkbox" id="com5"/> Commit artifacts to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('security');">Security</div></h3></li></ul>
                <div id="security" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="secuirtyAudit"/> Review the most recent security audit
                        <p><input type="checkbox" class="checkbox" id="userAccess"/> Evaluate leased privilege and user access rights.
                        <p><input type="checkbox" class="checkbox" id="partnerAccess"/> Perform analysis of partner access to resources
                        <p><input type="checkbox" class="checkbox" id="penTest"/> Analyze the platform for a penetration test
                        <p><input type="checkbox" class="checkbox" id="logins"/> Conduct analysis of customer logins and 2-Factor Authentication
                        <p><input type="checkbox" class="checkbox" id="pii"/> Conduct PII analysis
                        <p><input type="checkbox" class="checkbox" id="externalSecurityReview"/> Evaluate opportunities to conduct an external security review
                        <p><input type="checkbox" class="checkbox" id="certs"/> Review certificates of authority and expiration
                        <p><input type="checkbox" class="checkbox" id="codeRepo"/> Conduct code review on each code repository
                        <p><input type="checkbox" class="checkbox" id="patches"/> Review the monitoring of software patch updates
                        <p><input type="checkbox" class="checkbox" id="dataHandling"/> Review the policy for handling sensitive data
                        <p><input type="checkbox" class="checkbox" id="securityPosture"/> Write an opinion on Security Posture
                        <p><input type="checkbox" class="checkbox" id="com6"/> Commit artifacts to the data repository
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('quality');">Quality</div></h3></li></ul>
                <div id="quality" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="tests"/> Review functional tests, integration tests, canaries, meters, monitors, and alarms
                        <p><input type="checkbox" class="checkbox" id="userAcceptance"/> Review user acceptance testing
                        <p><input type="checkbox" class="checkbox" id="codingStandards"/> Evaluate existing coding standards
                        <p><input type="checkbox" class="checkbox" id="data"/> Conduct a review of data repositories
                        <p><input type="checkbox" class="checkbox" id="backup"/> Conduct a review of backup and expiration policies of data repositories
                        <p><input type="checkbox" class="checkbox" id="multiTenancy"/> Conduct analysis of multi-tenancy models
                        <p><input type="checkbox" class="checkbox" id="migration"/> Conduct a review of data migration practices
                        <p><input type="checkbox" class="checkbox" id="retention"/> Conduct a review of data retention practices
                        <p><input type="checkbox" class="checkbox" id="ruleEngines"/> Conduct a review of employed rule engines
                        <p><input type="checkbox" class="checkbox" id="ruleArtifacts"/> Conduct a review of rule artifacts
                        <p><input type="checkbox" class="checkbox" id="scalability"/> Evaluate platform scalability capabilities
                        <p><input type="checkbox" class="checkbox" id="recovery"/> Evaluate recovery point and recovery time objectives
                        <p><input type="checkbox" class="checkbox" id="outages"/> Obtain a history of outages and downtime
                        <p><input type="checkbox" class="checkbox" id="fma"/> Conduct Failure Mode Analysis
                        <p><input type="checkbox" class="checkbox" id="controls"/> Evaluate controls on the product, pricing, and fees
                        <p><input type="checkbox" class="checkbox" id="securityPosture2"/> Update opinion on Security Posture
                        <p><input type="checkbox" class="checkbox" id="com7"/> Commit artifacts to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('vendors');">Vendors</div></h3></li></ul>
                <div id="vendors" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="vendorContracts"/> Obtain vendor contracts
                        <p><input type="checkbox" class="checkbox" id="vendorList"/> Produce vendor list including name, the reason for the contract, expiration date and pricing model used
                        <p><input type="checkbox" class="checkbox" id="vendorDueDiligence"/> List due diligence done with vendors
                        <p><input type="checkbox" class="checkbox" id="openSource"/> Evaluate open source licensing
                        <p><input type="checkbox" class="checkbox" id="lic"/> Evaluate paid-for software licenses
                        <p><input type="checkbox" class="checkbox" id="com9"/> Commit to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('diagraming');">Diagraming</div></h3></li></ul>
                <div id="diagraming" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="footprintArchitecture"/> Produce Footprint Diagram
                        <p><input type="checkbox" class="checkbox" id="physicalArchitecture"/> Produce Physical Diagram
                        <p><input type="checkbox" class="checkbox" id="platformArchitecture"/> Produce Platform Architecture
                        <p><input type="checkbox" class="checkbox" id="networkArchitecture"/> Produce Network Diagram
                        <p><input type="checkbox" class="checkbox" id="deploymentArchitecture"/> Product Deployment Diagram
                        <p><input type="checkbox" class="checkbox" id="com8"/> Commit artifacts to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('ce');">Customer Engagement</div></h3></li></ul>
                <div id="ce" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="leadAgg"/> Explain customer list or lead aggregation strategy
                        <p><input type="checkbox" class="checkbox" id="contactPoints"/> List customer contact points
                        <p><input type="checkbox" class="checkbox" id="support"/> Document customer support process
                        <p><input type="checkbox" class="checkbox" id="messaging"/> Document direct mail, email, SMS and push notification strategy
                        <p><input type="checkbox" class="checkbox" id="mail"/> Email strategy
                        <p><input type="checkbox" class="checkbox" id="marketing"/> Evaluate marketing analytics platforms
                        <p><input type="checkbox" class="checkbox" id="retention"/> Document customer retention process
                        <p><input type="checkbox" class="checkbox" id="discount"/> Describe the customer promotions process
                        <p><input type="checkbox" class="checkbox" id="com10"/> Commit to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('bc');">Business Continuity</div></h3></li></ul>
                <div id="bc" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="continuityPlan"/> Evaluate the business continuity plan
                        <p><input type="checkbox" class="checkbox" id="keyStaff"/> Evaluate strategy for a loss of key staff members
                        <p><input type="checkbox" class="checkbox" id="budget"/> Produce IT Budget and Spend Matrix, including infrastructure, licensing, and OpEx
                        <p><input type="checkbox" class="checkbox" id="deorecatuib"/> Produce explanation of software deprecation, upgrades, and replacement road map
                        <p><input type="checkbox" class="checkbox" id="regulatoryAudits"/> Collect regulatory audits and control documentation and commit to the data room
                        <p><input type="checkbox" class="checkbox" id="certs"/> Produce a list of technical certifications, awards, and premier partnerships.
                        <p><input type="checkbox" class="checkbox" id="criticalVendorServices"/> Explain of critical vendor services
                        <p><input type="checkbox" class="checkbox" id="onboarding"/> Explanation of partner on-boarding process
                        <p><input type="checkbox" class="checkbox" id="api"/> Explain of public-facing APIs
                        <p><input type="checkbox" class="checkbox" id="cdn"/> Explain of the content delivery network
                        <p><input type="checkbox" class="checkbox" id="dataRepos"/> Explain of data repositories
                        <p><input type="checkbox" class="checkbox" id="hardwaye"/> Explain of staff computer hardware/software, engineering hardware, and software used in normal business operations
                        <p><input type="checkbox" class="checkbox" id="helpDesk"/> Evaluate help desk procedures
                        <p><input type="checkbox" class="checkbox" id="failurePoints"/> Review of operational failure plans
                        <p><input type="checkbox" class="checkbox" id="runbooks"/> Review of runbooks
                        <p><input type="checkbox" class="checkbox" id="availability"/> Review of RPO/RTO and strategy
                        <p><input type="checkbox" class="checkbox" id="automation"/> Produce a narrative on automation
                        <p><input type="checkbox" class="checkbox" id="com11"/> Commit artifacts to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('operations');">Operations</div></h3></li></ul>
                <div id="operations" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="meter"/> Document meters, monitors, alarms and escalation processes
                        <p><input type="checkbox" class="checkbox" id="oncall"/> Document on-call rotation
                        <p><input type="checkbox" class="checkbox" id="opsReview"/> Document weekly and monthly ops reviews
                        <p><input type="checkbox" class="checkbox" id="readiness"/> Evaluate operational readiness
                        <p><input type="checkbox" class="checkbox" id="com12"/> Commit artifacts to the data room
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('compliance');">Compliance</div></h3></li></ul>
                <div id="compliance" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="csa"/> Cloud Security Alliance Controls (CSA) review
                        <p><input type="checkbox" class="checkbox" id="iso9001"/> ISO :2015 quality management review
                        <p><input type="checkbox" class="checkbox" id="iso27001"/> ISO/IEC 27001 security review
                        <p><input type="checkbox" class="checkbox" id="iso27029"/> ISO/IEC 27018 protection of data
                        <p><input type="checkbox" class="checkbox" id="enisa"/> ENISA guidelines
                        <p><input type="checkbox" class="checkbox" id="nist"/> NIST Cloud Computing Security Reference Architecture review
                        <p><input type="checkbox" class="checkbox" id="iso27001"/> Industry Specific
                    </ul>
                </div>

                <ul style="padding-top: 20px"><li><h3 class="h3"><div onclick="toggle('postmortem');">Postmortem</div></h3></li></ul>
                <div id="postmortem" style="display: none">
                    <ul>
                        <p><input type="checkbox" class="checkbox" id="gap"/> Conduct GAP analysis
                        <p><input type="checkbox" class="checkbox" id="patent"/> Patent findings
                        <p><input type="checkbox" class="checkbox" id="cost"/> Opportunities for cost reduction
                        <p><input type="checkbox" class="checkbox" id="revenue"/> Opportunities for revenue growth
                        <p><input type="checkbox" class="checkbox" id="opinion"/> Present opinion on options for technology offering
                        <p><input type="checkbox" class="checkbox" id="postmortemFeedback"/> Record feedback
                        <p><input type="checkbox" class="checkbox" id="com13"/> Commit articles to the data room
                    </ul>
                </div>
            </div>

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/jquery/jquery-migrate.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/superfish/hoverIntent.js"></script>
        <script src="/lib/superfish/superfish.min.js"></script>
        <script src="/lib/wow/wow.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/counterup/counterup.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/lightbox/js/lightbox.min.js"></script>
        <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
        
        <script src="/js/main.js"></script>
        <script src="/js/site.js"></script>

       <script>
            function toggle(source) {
                $("#" + source).slideToggle("slow");
            }
        </script>

        <script>
            document.getElementById('headerLogo').addEventListener("click", function() {
                window.location.href = "/";
            })
        </script>
    </body> 